<!DOCTYPE html>
<html>
	<head>
		<title>venky exersise1</title>
		<link rel="stylesheet" href="../css/app1.css">
	</head>
	<body>
		<header>Hello <span>JavaScript</span>!@</header>
		<main>
			<section class="leftSection">
				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

				<p style="color:white;">Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here<img id="natureHabitat" src="../image/nature_habitat.png" alt="Imag missing here" width="30%" height="30%"> content here', Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

			</section>

			<section class="rightSection">
				<img src="../image/lotus.jpg" alt="Imag missing here" width="30%" height="30%">
				<img src="../image/butterfly-white.jpg" alt="Imag missing here" width="30%" height="30%">
				<img src="../image/cutie.jpg" alt="Imag missing here" width="30%" height="30%">
				<img src="../image/nature-green.jpg" alt="Imag missing here" width="30%" height="30%">
				<img src="../image/nature-green.jpg" alt="Imag missing here" width="30%" height="30%">
				<img src="../image/green-giant.jpg" alt="Imag missing here" width="30%" height="30%">
			</section>
		</main>
		<br style="clear:both" />
		<div style="width:100%">List of Items</div>
		<div class="listContainer">				
			<div>
				<ul> 
					<li>Item 0</li>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
				</ul>
			</div>
			<div>
				<ul >
					<li>0Item 0</li>
					<li>0Item 1</li>
					<li>0Item 2</li>
					<li>0Item 3</li>
					<li>0Item 4</li>
				</ul>				
			</div>
		</div>
		<div>
		<label style="font-weight: 700"> Forms - General </label>
			<form>
				<input type="text" classname="firstname" placeholder="First Name">
				<input type="text" placeholder="Last Name">
				<input type="date">
				<div type="sports">
					<input type="checkbox" name="sports">Cricket</input>
					<input type="checkbox" name="sports">Tennis</input>
					<input type="checkbox" name="sports">Baseball</input>
				</div>
				<label>Choose your favourite hobbies</label>
				<select name="hobbies" size="4" multiple>
				  <option value="Singing">Singing</option>
				  <option value="Dancing">Dancing</option>
				  <option value="Drawing">Drawing</option>
				  <option value="Swimming">Swimming</option>
				</select>
				<label>Choose your favourite color</label>
				<div type="color">
					<input type="radio" name="color">Red</input>
					<input type="radio" name="color">Green</input>
					<input type="radio" name="color">Blue</input>
					<input type="radio" name="color">Yellow</input>
				</div>
				<label>Password</label>
				<input type="text" placeholder="Password">
				<input type="submit" value="Send">
				<input type="submit" value="Cancel/Reset">
			</form>
		</div>
	</body>		
	<footer>Made with </footer>			
</html>
